@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Lato', sans-serif;
    background-image: url("./images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;

    width: 100%;
    height: 100%;
    background-attachment: fixed;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}  

/* Div with buttons styling */
#header{
    width: 100%;
    height:15%;
    background-color: #f5eec2;
    opacity: 0.9;
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#header h1 {
    font-size: 60px;
    font-weight: 400;
    color: rgb(68, 65, 56);
    font-family: inherit;

}

#nav{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    background-color: none;
    justify-content: space-evenly;
    opacity: 0.9;
}
.button{
    width: 260px;
    height: 70px;
    font-family: 'Raleway', sans-serif;
    font-size: 47px;
    font-weight: 300;
    color: rgb(31, 30, 18);
    margin:0%;
    background-color: rgb(199, 195, 210);
    opacity: 0.9;
    border: none;
    font-family: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
    border-end-start-radius: 34px;
    border-end-end-radius: 34px;
}


.button:hover,
.button:focus{
background-color:rgb(226, 229, 205);    
color: rgb(16, 27, 53);
text-shadow: 0px 0px 12px rgba(41, 41, 41, 0.4);
font-family: "Raleway", sans-serif;
font-size: 57px;
font-weight: 400;
transition: 0.3s;
cursor: pointer;
}

/* tab selection */
.active {
    background-color: #f5eec2 !important;
    transform: scale(1) ;
    margin-top: 25px;
    border-radius: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: underline;

    }



/* main */
#main-content{
    width: 100%;
    height: 100%;
    background-color: transparent;
}
/* Menu styling */

.catalog{
    width: 100%;
    height: 100%;
    background: none;
    display: grid;
    grid-template-columns:   repeat(3, minmax(0, 1fr));
    row-gap: 20px;
    align-self: center;
    justify-items: center;
    margin-top: 20px;
    font-family: "Lato", sans-serif;


}

.food {
    height: 4.5em;
    width: 5.6em;
    color: rgb(159, 127, 153);
    font-size: 5em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5eec2;
    border: 3px solid grey;
    box-shadow: 5px 5px 10px 10px rgba(232, 233, 230, 0.7);
}

.image{
    width: 60%;
    height: 60%;
    margin-bottom: 10px;
    margin-top: 15px;
    align-self: center;
}

.food-span{
    font-size: 3rem;
    text-decoration: underline;
    color: rgb(16, 27, 53);
}

/* Location section styling */

.location{
    height: 40%;
    width: 100%;
    background-color:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;

}

.location-h3{
    background-color: #f5eec2;
    width:fit-content;
    font-size: 55px;
    font-weight: 500;
    font-family: 'Raleway', serif;
    margin: 5px 5px 5px 5px;
    color: rgb(16, 27, 53);
    text-decoration: underline;
}


/* Info */

.info-section{
    text-align: center;
    background-color: #f5eec2;
    margin-top: 80px;
    height: 550px;
    width: 80%;
    font-size: 50px;
    font-family: 'Raleway', serif;
    margin-left: 13%;
    color: rgb(112, 85, 85);
}
